/* ===== Общие настройки ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Arial, sans-serif;
  background-color: #ffffff; /* Белый фон для контента */
  color: #333333;
  line-height: 1.6;
}

/* ===== Навигация ===== */
.navbar {
  background-color: #2b2b35; /* Тёмная полоса */
  width: 100%;
  padding: 20px 40px;
  position: fixed; /* Закрепляем сверху */
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* Мягкая тень под навбаром */
}

/* ===== Ссылки ===== */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #f5f5f5;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 5px;
}

/* Подчёркивание при наведении */
.nav-links a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: #44d1de; /* Tiffany line */
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

/* Активная страница */
.nav-links a.active {
  font-weight: bold;
}

.nav-links a.active::after {
  width: 100%;
}

/* ===== Контент ===== */
main {
  padding: 140px 80px 60px; /* совпадает с padding навбара */
  max-width: 1200px;
  margin: 0 auto;
}
h1 {
  font-size: 2.2rem;
  color: #434141;
   margin-bottom: 20px;
}

p {
  font-size: 1rem;
  text-align: justify;
}

/* ===== Адаптация под мобильные устройства ===== */
@media (max-width: 768px) {
  .navbar {
    padding: 15px 30px;
  }

  main {
    padding: 120px 30px 40px;
  }

  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 0.95rem;
  }
}
